@import 'vars';

.formCliente{
    width: 100%;
    display: grid;
    place-items: center;
}

.formContainer{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 350px;
    height: 450px;
    margin-top: 80px;
    border-style: groove;
    border-radius: 10px;
}

.formularioCliente{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.label{
    font-size: var(--small-font-size-desk);
    font-weight: var(--font-bold);
    margin-bottom: 4px;
}

.input{
    height: 32px;
    background-color: #F0F0F0;
    border: none;
    border-radius: 8px;
    margin-bottom: 12px;
}

.botonPrincipal{
    height: 48px;
    border-radius: 62px;
    cursor: pointer;
    font-size: var(--body-font-size-desk);
    font-weight: var(--font-bold);
    border: none;
    color: var(--white);
    background-color: #83BE42;
}

@media (max-width:640px){
    
}