// MEDIA QUERY PARA CUANDO LA PANTALLA ES DESKTOP
@media screen and (min-width: 768px) {
    .button__historial {
        width: 50%;
        display: none;
        &:hover {
            background-color: var(--first-color-hover);
        }
    }
    .container__historial{
        max-width: 1200px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin-top: 1rem;
    }
    .content__titleHistorial {
        margin-bottom: .5rem;
    }
    .body__content-historial {
        display: flex;
        width: 100%;
        height: 100%;
    }
    .content__formHistorial{
        width: 50%;
        box-shadow: 0px 3px 10px -3px rgba(0,0,0,0.1);
        border-radius: 1rem;
        padding: 1.5rem; // 1.5rem = 24px
        margin-right: 1rem;
        height: 100%;
        //scroll
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0.5rem;
        }
    }
    .content__listHistorial {
        width: 100%;
        padding: 1.5rem 0;
        border-radius: 1rem;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0.5rem;
        }
    }
    .containerListado {
        background-color: black;
        width: 100%;
        height: 100%;
    }
    
}

// MEDIA QUERY PARA CUANDO LA PANTALLA ES MOBILE
@media screen and (max-width: 768px) {
    .body__content-historial{
        width: 100%;
    }
    .container__historial {
        height: 500px;
        padding: 1rem;
        margin-top: 0;
    }
    .content__titleHistorial, .content__formHistorial {
        display: none;
    }
    .button__historial {
        width: 100%;
        display: block;
        &:hover {
            background-color: var(--first-color-hover);
        }
    }
    .content__listHistorial {
        width: 100%;
        padding: 1.5rem 0;
        border-radius: 1rem;
        margin-left: 1rem;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0.5rem;
        }
    }
}