.modalFormCliente{
    width: 50%;
}

@media (max-width:640px){
    .modalFormCliente{
        width: 50%;
    }
    
    .modalHeader Button{
        margin-top: 10px;
        border-style: none;
        background-color: #83BE42;
    }
    
    .modalFooter Button.botonCancelar{
        border-radius: 20px;
        background-color: red;
        border-style: none;
    }
    
    .modalFooter Button.botonAgregar{
        border-radius: 20px;
        background-color: #83BE42;
        border-style: none;
    }
}
